body{

    margin:0;

    background:url(images/background.jpg);

    background-size:cover;

    background-position:center;

    height:100vh;

}

.overlay{

    background:rgba(0,0,0,0.75);

    width:100%;

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

.logo{

    width:250px;

    margin-bottom:20px;

}

h1{

    color:#D4AF37;

    font-size:50px;

    margin-bottom:10px;

}

p{

    color:white;

    font-size:20px;

    margin-bottom:40px;

}

.btn{

    padding:15px 45px;

    border-radius:50px;

    font-size:22px;

    font-weight:bold;

}

.social{

    margin-top:50px;

    color:white;

    font-size:30px;

}

.btn{
    transition:.3s;
}

.btn:hover{
    transform:scale(1.08);
}


.card img{
      width: 100%;
    height: 250px;
    object-fit: cover;

}

.card{

 width: 320px;
    min-height: 450px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,.3);
    transition: .3s;

}

.card:hover{

transform:translateY(-10px);

}

h2{

color:#8B4513;

font-weight:bold;

}




